[PROD]
SECRET_KEY = eac5e91171438960ddec0c9c469a4c3dd42e96aea462afc5ab830f78527ad80e
PIALARA_DB_URI = mongodb+srv://usuario:contraseña@host
PIALARA_DB_NAME = pialara

[LOCAL]
SECRET_KEY = eac5e91171438960ddec0c9c469a4c3dd42e96aea462afc5ab830f78527ad80e
PIALARA_DB_URI = localhost
PIALARA_DB_NAME = pialara


CREDENTIALS = "aws_access_key_id=ASIATQLZ7KAY2UFGSYJH
aws_secret_access_key=EQ2N7DBKlDvjzR1G8YWMEopJTyEzxJWCyecprIey
aws_session_token=FwoGZXIvYXdzEMP//////////wEaDFhetIwuJPOaOMd5zyLPAXfd8sM9WiBOMIPgpLLr7n5QbEO59LZnvXbA+JBxEqBnVnmPezpiLEztzOqm0ilUAILblEegQA7SXICV7j0PX3UpQEXqc+z9gwfMhZbSwJ+gOaCjmGJB/X4VSwPQIA7dToMCCTqpwe+RCKr+Ln5pdkKK8nwaw2DyqkmGuqeUYkjvfIa/uTrE8dffStKMYcW7MU17EeqCrbiJWN+KFkF0sXdbajMPs34YOVNb1ubp1ngSRuNsc8kzhOaMRBf87D03f5ZIJcESa5OIW0tzBoVTfCjlh+icBjItkSVLRFDlfb5v06oO5SNfXuNmVHw4RlxYxnUe+y0R5InZeDtVt/GzW3J0O7V2"