{% extends 'client.html' %}

{% block content %}
    <div class="legal">
        <h1 class="text-center">CONSENTIMIENTO DE GRABACIÓN DE DATOS</h1>
        <p><em>Nombre de la aplicación</em>: <strong>PIA Lara</strong></p>
        <p><em>Nombre del responsable del tratamiento de datos</em>: Conselleria de Educación, Cultura y Deporte dependiente de la Generalitat Valenciana</p>
        <p><em>Finalidad del tratamiento de datos</em>: La aplicación PIA Lara es un
             proyecto para la creación de una aplicación que usará archivos de audio de forma
             que se facilite su entendimiento mediante el uso de inteligencia artificial.
             Para ello se utilizarán los audios de los usuarios/interesados en los entrenamientos,
             pero nunca para ser mostrados a ningún usuario ni cedidos a terceros</p>
        <p><em>Base legitimadora del tratamiento de datos</em>: El tratamiento de datos se realiza en base al consentimiento del usuario, que se manifiesta al aceptar los términos y condiciones de la aplicación y la firma y aceptación del presente documento.</p>
        <p><em>Información necesaria para el interesado</em>: Para utilizar la aplicación, el usuario debe proporcionar su nombre y apellidos. Además, se recogerá la información generada por el usuario en el uso de la aplicación, como las grabaciones de los audios y textos creados por los/as mismos/as.</p>
        <p><em>Derechos del interesado en relación con sus datos personales</em>: El usuario podrá revocar su consentimiento en cualquier momento. Además, el usuario tiene derecho a acceder, rectificar y suprimir sus datos personales, así como a limitar y oponerse al tratamiento de los mismos. También tiene derecho a la portabilidad de sus datos y a presentar una reclamación ante la autoridad de control competente.</p>
        <p><em>Forma de ejercicio de los derechos del interesado</em>: Para ejercitar sus derechos, el usuario debe enviar un correo electrónico a <a href="mailto:protecciondedatos@piafplara.es">protecciondedatos@piafplara.es</a>, indicando su nombre y apellidos, dirección de correo electrónico y el derecho que desea ejercitar.</p>
        <p>Si continúa usando la aplicación, se entiende que usted ha leído, comprende y acepta los términos
        anteriormente expresados.</p>

        <a href="{{ login_url }}" class="btn">Acepto el consentimiento</a>
        <br /><br />
    </div>
{% endblock %}