{% extends 'layout.html' %}

{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

  <h1 class="text-center p-3">Crear usuario</h1>

  <nav class="nav nav-tabs justify-content-center" id="nav-tab" role="tablist">

    <button class="nav-link active" id="nav-cliente-tab" data-bs-toggle="tab" data-bs-target="#nav-cliente" type="button"
      role="tab" aria-controls="nav-cliente" aria-selected="false">
      <i class="bi bi-person me-2"></i>Cliente
    </button>

  {%if rol == "admin"%}
    <button class="nav-link" id="nav-tecnico-tab" data-bs-toggle="tab" data-bs-target="#nav-tecnico" type="button"
      role="tab" aria-controls="nav-tecnico" aria-selected="true">
      <i class="bi bi-journals me-2"></i>Técnico
    </button>


      <button class="nav-link" id="nav-administrador-tab" data-bs-toggle="tab" data-bs-target="#nav-administrador"
        type="button" role="tab" aria-controls="nav-administrador" aria-selected="true">
        <i class="bi bi-gear me-2"></i>Administrador
      </button>
    {% endif %}

  </nav>

  <div class="tab-content py-4" id="nav-tabContent">

    <section class="tab-pane fade show active" id="nav-cliente" role="tabpanel" aria-labelledby="nav-cliente-tab" tabindex="0">
      <form class="container js-form" style="max-width: 24rem" method="post">
        <div class="mb-3">
          <label for="cliente-nombre" class="form-label">Nombre</label>
          <input type="text" class="form-control" id="cliente-nombre" name="nombre_cliente" required />
        </div>
        <div class="mb-3">
          <label for="cliente-email" class="form-label">Email</label>
          <input type="email" class="form-control" id="cliente-email" name="email_cliente" required />
        </div>
        <div class="mb-3">
          <label for="cliente-password" class="form-label">Contraseña</label>
          <input type="password" class="form-control js-password" id="cliente-password" name="pass1" required />
          <div class="invalid-feedback">Introduce la contraseña.</div>
        </div>
        <div class="mb-3">
          <label for="cliente-password-repeat" class="form-label">Repetir contraseña</label>
          <input type="password" class="form-control js-password-repeat" id="cliente-password-repeat" name="pass2" required />
          <div class="invalid-feedback">Las contraseñas deben coincidir.</div>
        </div>
        <div class="mb-3">
          <label for="cliente-fecha_nacimiento" class="form-label">Fecha de nacimiento</label>
          <input type="date" class="form-control" id="cliente-fecha_nacimiento" name="fnac_cliente" required />
        </div>
        <div class="mb-3">
          <label for="cliente-sexo" class="form-label">Sexo</label>
          <select class="form-select" id="cliente-sexo" name="sexo_cliente" required>
            <option value="H">Hombre</option>
            <option value="M">Mujer</option>
            <option value="A">Ambiguo</option>
            <option value="T">Trans</option>
          </select>
        </div>  
        <div class="mb-3">
          <label for="cliente-provincia" class="form-label">Provincia</label>
          <select class="form-select" id="cliente-provincia" name="provincia_cliente" required>
            <option value="Alicante">Alicante</option>
            <option value="Valencia">Valencia</option>
            <option value="Castellón">Castellón</option>
            <option value="Murcia">Murcia</option>
          </select>
        </div>
        <div class="mb-3">
          <label for="cliente-entidad" class="form-label">Entidad / Asociación</label>
          <input type="text" class="form-control" id="cliente-entidad" name="entidad_cliente" />
        </div>      
        <fieldset class="mb-3">
          <legend class="fs-6">Enfermedades</legend>
          {% for enfermedad in enfermedades %}
            {% if enfermedad.visible == 1 %}
              <div class="form-check">
                <input class="form-check-input" type="checkbox" name="enfermedades" value="{{ enfermedad.nombre }}" id="enf-{{enfermedad.nombre}}" />
                <label class="form-check-label" for="enf-{{enfermedad.nombre}}">{{enfermedad.nombre}}</label>
              </div>
            {% endif %}
          {% endfor %}
        </fieldset>
        <fieldset class="mb-3">
          <legend class="fs-6">Dis</legend>
          {% for disfonia in disfonias %}
          {% if disfonia.visible == 1 %}
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="dis" value="{{disfonia.nombre}}" id="dis-{{disfonia.nombre}}" />
                <label class="form-check-label" for="dis-{{disfonia.nombre}}">{{disfonia.nombre}}</label>
              </div>
          {% endif %}
          {% endfor %}
        </fieldset>
        <div class="mb-3">
          <label for="cliente-observaciones" class="form-label">Observaciones</label>
          <textarea class="form-control" id="cliente-observaciones" name="observaciones_cliente"></textarea>
        </div>         
        <div class="mb-3">
          <button class="btn btn-primary w-100 shadow" type="submit">
            <i class="bi bi-plus-square me-2"></i>Crear cliente
          </button>
        </div>
      </form>
    </section>

    <section class="tab-pane fade" id="nav-tecnico" role="tabpanel" aria-labelledby="nav-tecnico-tab" tabindex="0">
      <form class="container js-form" style="max-width: 20rem" method="post">
        <div class="mb-3">
          <label for="tecnico-nombre" class="form-label">Nombre</label>
          <input type="text" class="form-control" id="tecnico-nombre" name="nombre_tecnico" required />
        </div>
        <div class="mb-3">
          <label for="tecnico-email" class="form-label">Email</label>
          <input type="email" class="form-control" id="tecnico-email" name="email_tecnico" required />
        </div>
        <div class="mb-3">
          <label for="tecnico-password" class="form-label">Contraseña</label>
          <input type="password" class="form-control js-password" id="tecnico-password" name="pass1" required />
          <div class="invalid-feedback">Introduce la contraseña.</div>
        </div>
        <div class="mb-3">
          <label for="tecnico-password-repeat" class="form-label">Repetir contraseña</label>
          <input type="password" class="form-control js-password-repeat" id="tecnico-password-repeat" name="pass2" required />
          <div class="invalid-feedback">Las contraseñas deben coincidir.</div>
        </div>
        <div class="mb-3">
          <button class="btn btn-primary w-100 shadow" type="submit">
            <i class="bi bi-plus-square me-2"></i>Crear técnico
          </button>
        </div>
      </form>
    </section>

    <section class="tab-pane fade" id="nav-administrador" role="tabpanel"
      aria-labelledby="nav-administrador-tab" tabindex="0">
      <form class="container js-form" style="max-width: 20rem" method="post">
        <div class="mb-3">
          <label for="admin-nombre" class="form-label">Nombre</label>
          <input type="text" class="form-control" id="admin-nombre" name="nombre_admin" required />
        </div>
        <div class="mb-3">
          <label for="admin-email" class="form-label">Email</label>
          <input type="email" class="form-control" id="admin-email" name="email_admin" required />
        </div>
        <div class="mb-3">
          <label for="admin-password" class="form-label">Contraseña</label>
          <input type="password" class="form-control js-password" id="admin-password" name="pass1" required />
          <div class="invalid-feedback">Introduce la contraseña.</div>
        </div>
        <div class="mb-3">
          <label for="admin-password-repeat" class="form-label">Repetir contraseña</label>
          <input type="password" class="form-control js-password-repeat" id="admin-password-repeat" name="pass2" required />
          <div class="invalid-feedback">Las contraseñas deben coincidir.</div>
        </div>
        <div class="mb-3">
          <button class="btn btn-primary w-100 shadow" type="submit">
            <i class="bi bi-plus-square me-2"></i>Crear administrador
          </button>
        </div>
      </form>
    </section>
  </div>

  <script src="{{ url_for('static', filename='js/users-create-validation.js') }}"></script>
{% endblock %}