{% extends 'client.html' %}

{% block content %}

    <section class="frase">
        <textarea>Escribe tu frase</textarea>
        <button class="btn btn-lg btn-warning" id="play-button">
            <i class="bi bi-ear me-2"></i>Escuchar frase
        </button>
    </section>
    <section class="grabar">
        <button class="btn btn-lg btn-success" id="record-button">
            <i class="bi bi-mic me-2"></i>Grabar
        </button>
    </section>
    <section class="audio">
        <audio src="" id="recorded-audio"></audio>
    </section>

    <section>
        <button class="btn btn-lg btn-secondary" id="send-button">
            <i class="bi bi-send me-2"></i>Enviar
        </button>
    </section>
{% endblock %}