{% extends 'layout.html' %}

{% block content %}
  <header class="header">
    <ul>
      <li class="header__empty"></li>
      <li>
        <h1>Grabar audios</h1>
      </li>
      <li>
        <a class="header__button" href="{{ url_for('audios.client_text') }}">
          <i class="bi bi-pencil"></i>
        </a>
      </li>
    </ul>
  </header>

  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <div class="alert alert-{{ category }}">
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %}

  <section>
    <form class="tags-form" method="post" action="{{ url_for('audios.tag_search') }}">
      <input class="tags-form__input" type="search" name="tagName" placeholder="Buscar etiqueta..." value="{{ tag_name }}"/>
      <button class="tags-form__button" type="submit" id="search">
        <i class="bi bi-search me-2"></i>
      </button>
    </form>

    <div class="tags-container">
      {% for tag in tags %}
        <a class="tag button" href="/audios/client-record/{{ tag._id }}">{{ tag._id.upper() }}</a>
      {% endfor %}
    </div>
  </section>
{% endblock %}