{% extends 'client.html' %}

{% block content %}
  <header class="header">
    <ul>
      <li>
        <a class="header__button" href="{{ url_for('audios.client_tag') }}">
          <svg width="24" height="24" viewBox="0 0 24 24"><defs><path id="a3" d="M18 7c0 .6-.4 1-1 1H3.4l4.3 4.3c.4.4.4 1 0 1.4-.2.2-.4.3-.7.3-.3 0-.5-.1-.7-.3l-6-6c-.1-.1-.2-.2-.2-.3-.1-.2-.1-.5 0-.8.1-.1.1-.2.2-.3l6-6c.4-.4 1-.4 1.4 0 .4.4.4 1 0 1.4L3.4 6H17c.6 0 1 .4 1 1z"></path></defs><g fill="none" fill-rule="evenodd" transform="translate(3 5)"><mask id="b3" fill="#fff"><use xlink:href="#a3"></use></mask><use fill="#000" fill-rule="nonzero" xlink:href="#a3"></use><g fill="#4A4A4A" mask="url(#b3)"><path d="M-3-5h24v24H-3z"></path></g></g></svg>
        </a>
      </li>
      <li>
        <h1>Grabar audios</h1>
      </li>
      <li class="header__empty"></li>
    </ul>
  </header>

  <section class="syllabus">
    <header class="syllabus__header">
      <h2>Frase</h2>
    </header>

    <section class="syllabus__buttons">
      <button class="button" type="button" id="play-button">
        <span><i class="bi bi-ear me-2"></i></span>
        <span>Escuchar</span>
      </button>
    </section>

    <section class="syllabus__text" id="syllabus-collapse">
      <textarea id="syllabus-text" placeholder="Escribe aquí tu frase."></textarea>
    </section>
  </section>

  <section class="audio">
    <canvas class="visualizer rounded" height="60px"></canvas>
    <audio src="" id="recorded-audio"></audio>

    <button class="record-button" id="record-button">
      <svg width="29" height="28" viewBox="0 0 29 28"><defs><path id="mic-path13" d="M9.333 18.667A4.68 4.68 0 0 0 14 14V4.667A4.68 4.68 0 0 0 9.333 0a4.68 4.68 0 0 0-4.666 4.667V14a4.68 4.68 0 0 0 4.666 4.667zM7 4.667a2.34 2.34 0 0 1 2.333-2.334 2.34 2.34 0 0 1 2.334 2.334V14a2.34 2.34 0 0 1-2.334 2.333A2.34 2.34 0 0 1 7 14V4.667zm11.667 7V14c0 4.783-3.617 8.633-8.167 9.217v2.45H14c.7 0 1.167.466 1.167 1.166S14.7 28 14 28H4.667c-.7 0-1.167-.467-1.167-1.167s.467-1.166 1.167-1.166h3.5v-2.45C3.617 22.633 0 18.667 0 14v-2.333c0-.7.467-1.167 1.167-1.167s1.166.467 1.166 1.167V14c0 3.85 3.15 7 7 7s7-3.15 7-7v-2.333c0-.7.467-1.167 1.167-1.167s1.167.467 1.167 1.167z"></path></defs><g fill="none" fill-rule="evenodd" transform="translate(5)"><mask id="mic-mask13" fill="#fff"><use xlink:href="#mic-path13"></use></mask><use xlink:href="#mic-path13"></use><g fill="#FF4F5E" mask="url(#mic-mask13)"><path d="M-5 0h28v28H-5z"></path></g></g></svg>
    </button>
  </section>

  <section class="bottom">
    <button class="button send-button" id="send-button">
      <div hidden id="spinner" class="spinner-border spinner-border-sm" role="status">
        <span class="sr-only"></span>
      </div>
      Enviar
    </button>
  </section>

  <script src="{{ url_for('static', filename='js/speech-synthesis.js') }}"></script>
  <script src="{{ url_for('static', filename='js/speech-recording.js') }}"></script>
{% endblock %}