{% extends 'layout.html' %}

{% block content %}
  <h1 class="text-center p-3">Crear frase</h1>
  
  <form class="container" method="post" style="max-width: 30rem">
    <div class="mb-3">
      <label for="texto" class="form-label">Texto</label>
      <textarea class="form-control" id="texto" cols="30" rows="5" required></textarea>
    </div>
    <div class="mb-3">
      <label for="tags" class="form-label">Tags (separados por comas)</label>
      <input type="text" class="form-control" id="tags" required />
    </div>
    <div class="mb-3">
      <button class="btn btn-primary w-100 shadow" type="submit">
        <i class="bi bi-plus-square me-2"></i>Crear frase
      </button>
    </div>
  </form>
{% endblock %}