{% extends 'layout.html' %}

{% block content %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <h1 class="text-center m-2">Frases</h1>

    <form class="container pb-4" style="max-width: 35rem" method="post" action="{{ url_for("syllabus.tag") }}">
        <a href="/syllabus/create" class="btn btn-success m-2"><i class="bi bi-plus-square"></i>&nbsp;&nbsp;&nbsp;Añadir Frase</a>
        <div class="input-group">
            <input type="search" name="tagName" class="form-control" placeholder="Buscar..."
                   aria-label="Buscar tag..."
                   aria-describedby="button-search" value="{{ tag_name }}"/>
            <input type="date" name="tagDateSince" class="form-control" value="{{ tag_date_since }}">
            <input type="date" name="tagDateTo" class="form-control" value="{{ tag_date_to }}">
            <button class="btn btn-primary" type="submit" id="button-search"><i class="bi bi-search me-2"></i>Buscar</button>
        </div>
    </form>

    <section class="container d-flex flex-wrap justify-content-center gap-3">
    {% for frase in syllabus %}
        <article class="card shadow-sm" style="width: 20rem">
            <section class="card-body d-flex flex-column">
                <p class="card-text">{{ frase.texto }}</p>
                <footer class="blockquote-footer"><cite title="Tags">Etiquetas: </cite>{{ frase.tags }} </footer>
              </section>
              <section class="card-footer">                
                <a href="/syllabus/update/{{ frase._id }}" class="btn btn-warning"><i class="bi bi-pencil"></i></a>
                <a href="/syllabus/delete/{{ frase._id }}" class="btn btn-danger" title="borrar texto"><i class="bi bi-trash"></i></a>
            </section>
        </article>
    {% endfor %}
   </section>

    <!--
    <div class="card m-2">
      <div class="card-header">
        <a>Frase 1</a>
      </div>
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-danger"><i class="bi bi-trash" /></a>
        <a href="#" class="btn btn-warning"><i class="bi bi-ear" /></a>
      </div>
    </div>
    <div class="card m-2">
      <div class="card-header">
        <a>Frase 1</a>
      </div>
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-danger"><i class="bi bi-trash" /></a>
        <a href="#" class="btn btn-warning"><i class="bi bi-ear" /></a>
      </div>
    </div>
    <div class="card m-2">
      <div class="card-header">
        <a>Frase 1</a>
      </div>
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-danger"><i class="bi bi-trash"></i></a>
        <a href="#" class="btn btn-warning"><i class="bi bi-ear" /></a>
      </div>
    </div>
    -->
{% endblock %}