.offcanvas {
    width : 50% !important;
}

a {
    text-decoration: none;
}

@media (min-width: 576px) {
    .row {
        height: 100vh !important;
    }    
}

.tipo_admin{
    color:red
}

.tipo_cliente{
    color:green
}

.tipo_tecnico{
    color:blue
}

.swal-button{
    background-color: #0d6efd !important;
}

.legal{
    padding: 0 50px;
}

.legal p{
    font-size: 18px;
}

.legal .btn{
    border: 1px solid #666;
    padding: 10px 20px;
    border-radius: 50px;
    margin-top: 25px;
    display: inline-block;
    color: #333333;
}