body{
    margin: 0;
    padding: 0;
    background: #ffe359;
    background: url("../img/bg.svg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

a:hover {
    color: lightblue;   
}

.inciarSesion{
    background-color: rgb(80, 150, 166) !important;
}