.wrapper,
html,
body {
  margin: 0;
  font-family: "Zilla Slab", serif;
}

body {
  /*background-image: linear-gradient(to top, #fff 20%, #f3f2f1);*/
}

* {
  box-sizing: border-box;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
}

.header {
  width: 100%;
  max-width: 600px;
  margin-inline: auto;
}
.header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin: 0;
}
.header ul li {
  list-style: none;
}
.header ul li.active a {
  color: #629ff4;
  border-bottom: 2px solid #629ff4;
}
.header ul a {
  color: #333;
  text-decoration: none;
  font-size: 20px;
}
.header h1 {
  margin: 0;
}
.header__button {
  display: inline-block;
  height: auto;
  border-radius: 50%;
  padding: 10px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
}

.header__button svg,
.header__button i::before {
  width: 20px;
  height: auto;
  display: block;
}
.header__empty {
  width: 40px;
}

.button {
  font-family: inherit;
  font-size: inherit;
  color: #000;
  text-decoration: none;
  display: inline-flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  padding: 12px 28px;
  border-radius: 50px;
  transition: ease-in-out all 0.3s;
  cursor: pointer;
  margin-right: 10px;
  margin-bottom: 10px;
}

.button:hover {
  border-color: #000;
}

#send-button {
  background: #0d6efd !important;
  border-color: #0d6efd !important;
  color: #fff !important;
  font-weight: bold;
  display: none;
}

#send-button:disabled {
  background: #ccc !important;
  opacity: 0.7;
}

/*Tipos de contrastes*/
.contrast-default {
  background-image: linear-gradient(to top, #fff 20%, #f3f2f1);
  color: #000;
}

.contrast-1 {
  background-color: #000;
  color: #ffff00;
}

.contrast-2 {
  background-color: #fff;
  color: #0000ff;
}

.contrast-3 {
  background-color: #000;
  color: #00ff00;
}

body.contrast-1 a, body.contrast-1 button,
body.contrast-2 a,
body.contrast-2 button,
body.contrast-3 a,
body.contrast-3 button {
  border-color: inherit;
  color: inherit;
}

.tags-form {
  max-width: 30rem;
  margin-inline: auto;
  padding-block: 1rem;
  display: flex;
  justify-content: center;
}
.tags-form__input {
  font-family: inherit;
  font-size: inherit;
  padding: 0.8rem;
  border-radius: 100px 0 0 100px;
  border: 1px solid #b7b7b7;
  border-right: none;
}
.tags-form__button {
  font-family: inherit;
  font-size: inherit;
  padding: 0.8rem;
  padding-inline: 1.3rem 1.7rem;
  border-radius: 0 100px 100px 0;
  border: 1px solid #b7b7b7;
  cursor: pointer;
}

.tags-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}


.syllabus {
  width: 50rem;
  max-width: calc(100% - 2rem);
  margin: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
  box-shadow: 0 0 18px 3px rgba(0, 0, 0, 0.2);
}
.syllabus__header {
  padding: 0.5rem 1rem;
  width: 100%;
  border-bottom: 1px solid #d1d1d1;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 1rem 1rem 0 0;
  text-align: center;
  margin-bottom: 1rem;
}
.syllabus__header h2 {
  margin: 0;
  font-size: 1rem;
}
.syllabus__buttons {
  width: 100%;
  display: flex;
  gap: 1rem;
  padding-inline: 1rem;
  justify-content: center;
}
.syllabus__buttons > * {
  width: 50%;
}
.syllabus__text {
  font-size: 2.5rem;
  text-align: center;
  width: 100%;
  padding-inline: 1rem;
}
.syllabus__text p,
.syllabus__text textarea {
  margin-block: 1rem;
  transition: margin 500ms;
}
.syllabus__text p.hide-syllabus-text,
.syllabus__text textarea.hide-syllabus-text {
  height: 0;
  visibility: hidden;
  margin: 0;
  margin-bottom: 1rem;
}
.syllabus__text textarea {
  margin-block: 1rem;
  width: 100%;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.audio {
  margin-block: 1rem;
  margin-top: auto;
  padding-block: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.audio audio {
  height: 60px;
}

.record-button {
  border: none;
  border-radius: 50%;
  padding: 20px;
  display: inline-block;
  position: relative;
  background: white;
  box-shadow: 0 0 18px 3px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 2s;
  cursor: pointer;
}
.record-button:hover {
  box-shadow: 0 0 24px 7px rgba(0, 0, 0, 0.3);
  transform: scale(1.1);
}
.record-button svg {
  display: block;
}
.record-button svg.svg-stop {
  display: none;
}
.record-button.recording {
  animation-name: record-button-animation;
}
.record-button.recording .svg-stop {
  display: block;
}
.record-button.recording .svg-record {
  display: none;
}

.send-button {
  background-color: #f95160;
  color: white;
}

@keyframes record-button-animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.visualizer {
  display: none;
}

.bottom {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}

/* Estilo para el contenedor */
div.pagination-container {
  text-align: center; /* Centra los elementos */
  margin: 10px 0; /* Agrega un poco de margen alrededor */
}

div.container-paginacion {
  text-align: center;
  margin-top: 1%;
}

/* Estilo para los formularios y enlaces */
.paginacion {
  background-color: gainsboro;
  color: black;
  padding: .3rem .8rem;
  text-align: center; /* Centra el contenido horizontalmente */
  border-radius: 20%;
}

.paginacion:hover {
  background-color: grey; /* Color de fondo al hacer hover */
  color: inherit;
}

.pag-actual {
  background-color: #333;
}

.b-actual {
  color: white;
}

/* Estilo para los enlaces */
.enl_pag {
  text-decoration: none; /* Elimina el subrayado del enlace */
  color: inherit; /* Usa el color de texto del elemento padre */
}

.accessibility-bar button {
  /* Estilos base para los botones */
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  /* Otros estilos que desees aplicar */
}

body.contrast-1 .button {
    background-color: #ffff00;
    color: #000;
    border-color: #000;
  }
  
body.contrast-1 .button:hover,
.accessibility-bar button.contrast-3:hover {
    background-color: #000;
    color: #ffff00;
    border-color: #ffff00;
  }

body.contrast-2 .button {
    background-color: #0000ff;
    color: #fff;
    border-color: #fff;
  }
  
body.contrast-2 .button:hover,
.accessibility-bar button.contrast-2:hover {
  background-color: #fff;
  color: #0000ff;
  border-color: #0000ff;
  }

body.contrast-3 .button {
  background-color: #00ff00;
  color: #000;
  border-color: #000;
  }
  
body.contrast-3 .button:hover,
.accessibility-bar button.contrast-3:hover {
  background-color: #000;
  color: #00ff00;
  border-color: #00ff00;
  }

/*botones audio*/
.speed-buttons {
  display: none; /* Ocultar los botones inicialmente */
  /*margin-top: 10px; /* Ajustar según sea necesario */
}

.speed-button {
  margin-right: 10px;
  padding: 8px 12px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.speed-button:hover {
  background-color: #45a049; 
}

/* Estilo para el contenedor */
div.pagination-container {
  text-align: center; /* Centra los elementos */
  margin: 10px 0; /* Agrega un poco de margen alrededor */
}

div.container-paginacion {
  text-align: center;
  margin-top: 1%;
}

/* Estilo para los formularios y enlaces */
.paginacion {
  display: inline-block; /* Muestra los elementos en línea */
  margin-right: 0.5%; /* Espaciado entre elementos */
  margin-bottom: 0.5%;

  width: 30px; /* Ancho del cuadrado */
  height: 30px; /* Alto del cuadrado */
  line-height: 30px; /* Centra el contenido verticalmente */
  text-align: center; /* Centra el contenido horizontalmente */
  border: 1px solid #ddd; /* Borde opcional */
  border-radius: 20%;
}

.paginacion:hover {
  background-color: grey; /* Color de fondo al hacer hover */
  color: 
}

.pag-actual{
  background-color: #333;
}

.b-actual{
  color: white;
}

/* Estilo para los botones dentro de los formularios */
#pagina {
  background: none; /* Elimina el fondo predeterminado */
  border: none; /* Elimina el borde predeterminado */
  padding: 0; /* Elimina el relleno predeterminado */
  margin: 0; /* Elimina los márgenes predeterminados */
  font: inherit; /* Utiliza la fuente del elemento padre */
  cursor: pointer; /* Cambia el cursor para indicar que es clickeable */
}

/* Estilo para los enlaces */
.enl_pag {
  text-decoration: none; /* Elimina el subrayado del enlace */
  color: inherit; /* Usa el color de texto del elemento padre */
}

/*# sourceMappingURL=style_cliente.css.map */
