.offcanvas {
    width : 50% !important;
  }
  a {
    text-decoration: none;
}
.row
{
    height: 100vh !important;
}

.tipo_admin{
    color:red

}

.tipo_cliente{
    color:green

}
.tipo_tecnico{
    color:blue

}