<!doctype html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css" />
  
  <!-- JQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  
  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap" rel="stylesheet">
  
  <!-- CSS -->
  <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static',filename='styles/style_cliente.css') }}">
  
  <title>PIA LARA</title>
</head>

<body>
  <div class="wrapper">
    {% block content %}{% endblock %}
  </div>
</body>
</html>
